*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-family: "Sour Gummy";
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: -3px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: relative;
  width: 35%;
  height: 100%;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.logo {
  height: 8rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  gap: 1rem;
}

.credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.credits p {
  color: white;
  font-size: 1rem;
}

.credits a {
  text-decoration: none;
  color: white;
}

.credits a:hover {
  text-decoration: underline;
}

.right-side {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 97%);
  width: 65%;
  justify-content: center;
  padding-bottom: 15rem;
}

.right-side p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 2rem;
}

.upper {
  padding: 5rem;
  gap: 2rem;
}

.upper p {
  max-width: 50ch;
  margin-top: 1rem;
  line-height: 120%;
}

.middle {
  background-color: white;
  padding-left: 5rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.middle p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-container {
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.form-row label {
  color: hsl(0, 0%, 40%);
}

.form-row input {
  width: 120%;
  max-width: 250px;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 4px 8px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  appearance: none;
}

.bottom {
  padding-left: 5rem;
  padding-top: 3rem;
}

.bottom button {
  font-weight: bolder;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: rgb(0, 160, 25);
  color: white;
}

.bottom button:hover {
  cursor: pointer;
}

.bottom p {
  padding-top: 1rem;
  font-size: 24px;
  font-weight: 300;
}

.bottom a {
  color: rgb(0, 130, 20);
  text-decoration: none;
  font-weight: 600;
}

.bottom a:hover {
  text-decoration: underline;
}

.form-row input:user-invalid {
  border-color: rgb(160, 0, 0);
}

.form-row input:user-valid {
  border-color: rgb(0, 130, 20);
}
